@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto_Condensed-SemiBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.exchange_widget{
  display: flex;
  padding: 1px;
  min-width: 25vh;
  max-width: 25vh;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 1vmin);
  font-family:'Roboto';
  cursor:default;
}
p {
  margin: 0;
  margin-bottom: 1vh;
  color: rgb(188, 188, 216);
}